.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.mask-disable-body-scroll {
  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 999;
  //   overflow: hidden;
  // }
}

.mask-non-transparent {
  backdrop-filter: blur(50px);
}