@use '../../style/base';

.category-container {
  max-width: 1200px;
  margin: 0 auto;
}
.top-category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.top-category {
  &-item {
    width: 50%;
    margin-top: 30px;
  }
  &-head {
    &-title {
      width: 240px;
      height: 32px;
    }
    &-desp {
      font-size: 12px;
      display: block;
      margin-top: 8px;
    }
  }
  &-show-all {
    cursor: pointer;
    &:hover {
      color: base.$font-hilight-color;
    }
    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 9px;
      margin: 6px 0 0 4px;
      background:
        center/contain no-repeat url('../../../assets/arrow_right_gray.png'),
        #000;
    }
  }
}

.top-book-container {
  margin-top: 20px;
  max-height: 372px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-book-item {
  width: 282px;
  height: 124px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #000;
  }

  &-cover {
    width: 64px;
    height: 92px;
  }
  &-order {
    font-family:
      'DIN Medium',
      PingFang SC,
      -apple-system,
      SF UI Text,
      Lucida Grande,
      STheiti,
      Microsoft YaHei,
      sans-serif;
  }
  &-intro,
  &-order {
    margin-left: 12px;
  }

  &-intro {
    div:first-of-type {
      margin-bottom: 4px;
    }
  }
}

.category-detail {
  &-head {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'SourceHanSerifCN-Bold';
  }
  &-items-container {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    margin-top: 30px;
    width: 33.3%;
    display: block;
  }
}
