.wrapper {
  background-color: rgba(0, 0, 0, 0.1);

  .top-category {
    width: 80%;
    margin: 0 auto;
    background: hsla(0, 0%, 0%, 0.9);
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .category-block {
      width: 50%;
      /* max-width: 600px; */
      margin-top: 30px;
    }
  }
  .category-title-img {
    width: 240px;
    height: 32px;
  }
  .category-title-desp {
    font-size: 12px;
    display: block;
    margin-top: 4px;
  }

  .book-cover-list {
    margin-top: 20px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .book-cover {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 240px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &-img {
      min-width: 60px;
      height: 80px;
    }
    &-order {
      font-weight: 700;
    }
    &-intro,
    &-order {
      margin-left: 12px;
    }

    &-intro {
      div:first-of-type {
        margin-bottom: 4px;
      }
    }
  }

  .category {
    width: 80%;
    margin: 0 auto;
    padding: 0 50px;
    h2 {
      margin-top: 30px;
      font-size: 18px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-list-item {
      margin-top: 30px;
      width: 33.3%;
      display: block;
    }
  }
}
