@use 'sass:meta';
@use './vars.scss';


* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  background: vars.$bg-primary-color;
  color: vars.$font-primary-color;
  font-family: 'PingFang SC,-apple-system,SF UI Text,Lucida Grande,STheiti,Microsoft YaHei,sans-serif';
}


a {
  text-decoration: none;
  color: vars.$font-secondary-color;
  cursor: pointer;
}

.flex-row-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-col-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.text-ellipsis {
  word-wrap: nowrap;
  white-space: break-all;
  text-overflow: ellipsis;
}

.text-multi-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-title {
  font-size: 14px;
  color: vars.$font-primary-color;
}

.text-sub-title {
  font-size: 12px;
  color: vars.$font-secondary-color;
}



.small-text {
  font-size: 12px;
}

.text-gray {
  color: vars.$font-secondary-color;
}

.link-more-icon {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 6px 0 0 4px;
  background:
    center/contain no-repeat url('/src/assets/arrow_right_gray.png'),
    #000;

  &:hover {
    filter: contrast(120%);
  }
}



@font-face {
  font-family: 'DIN Medium';
  src: url('/src/assets/fonts/DIN-Medium-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceHanSerifCN-Bold';
  src: url('/src/assets/fonts/SourceHanSerifCN-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DIN Regular';
  src: url('/src/assets/fonts/DIN\ Regular.ttf')
}