$black-0: rgba(0, 0, 0);
$black-1: #111213;
$black-2: rgba(52, 167, 255, .07);
$black-3: rgba(238, 240, 244, .12);
$black-4: rgba(28, 28, 29, .9);
$black-6: #8a8c90;
$black-7: #b2b4b8;
$black-9: #eef0f4;


$blue-0: #2493ee;
$blue-1: #0097ff;

$color-pink: #ff4593;
$color-orange: #ffb341;
$color-blue: #39cfff;
$color-yellow: #e8b142;

$font-primary-color: $black-9;
$font-secondary-color: $black-6;
$font-hilight-color: $black-7;
$font-link-color: $black-7;
$font-shot-color: $blue-1;
$bg-primary-color: $black-0;
$bg-secondary-color: $black-1;
$bg-third-color: $black-3;
$bg-hilight-color: $black-2;
$bg-primary-light-color: $black-4;
$bg-primary-blue-color: $blue-0;