$black-0: rgba(0, 0, 0);
$black-1: #111213;
$black-2: rgba(52, 167, 255, .07);
$black-6: #8a8c90;
$black-7: #b2b4b8;
$black-9: #eef0f4;

$blue-0: #2493ee;

$color-pink: #ff4593;
$color-orange: #ffb341;
$color-blue: #39cfff;
$color-yellow: #e8b142;

$font-primary-color: $black-9;
$font-secondary-color: $black-6;
$font-hilight-color: $black-7;
$font-link-color: $black-7;
$bg-primary-color: $black-0;
$bg-secondary-color: $black-1;
$bg-hilight-color: $black-2;