@use '/src/style/vars.scss';
@use '/src/style/mixins.scss';

.nav-bar-wrapper {
  width: 100%;
  height: 72px;
  background-color: vars.$bg-primary-color;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-bar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 117px;
  height: 32px;
  background: center/contain no-repeat url('/src/assets/logo_small.png');
}

.search-input {
  width: 355px;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 0 36px;
  background: left 10px center/contain no-repeat url('/src/assets/icon_search.png');
  background-color: vars.$bg-secondary-color;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

}

ul {
  display: flex;
  list-style: none;
  font-size: 14px;
  color: vars.$font-secondary-color;

  li {
    color: vars.$font-secondary-color;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: vars.$font-hilight-color;
    }
  }

  li+li {
    @include mixins.border-1px(vars.$font-link-color, 'border-left') {
      width: 32px;
      height: 32;
      left: -18px;
      top: 4px;
    }
  }
}