@use '/src//client/style/mixins.scss';
@use '/src/client/style/vars.scss';

.search-wrapper {
  @include mixins.close-btn;
  display: flex;
  flex-direction: column;
  align-items: center;

  >div+div {
    margin-top: 30px;
  }
}

.header {
  width: 160px;
  height: 36px;
  margin: 0 auto;
  background: center/contain url('https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/search_header_logo_2x.8d460b95.png')
}